.container
  .jumbotron
    h1 Multi Vision
    p Hercle, clabulare fidelis!, pius navis! Everything we do is connected with sainthood: issue, life, relativity, energy.


  .row
    .col-md-6
      div(ng-include="'./partials/feature-courses'")
    .col-md-6
      div(ng-include="'./partials/new-courses'")
