doctype html
html
  head
    title MultiVision
    link(href="./vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="./vendor/toastr/toastr.css" rel="stylesheet")
    link(href="./css/style.css" rel="stylesheet")
    base(href="/")

  body(ng-app="app")
    block main-content
    include scripts